node_modules
americanRobin
americanWhitePelican
/americanRobin
/americanWhitePelican
bee
brant
bunny
Cousin(ofNarutoAndSasuke)
ditto(lowQuality)
divorcedDuck
fox
Jay(shortForJaywalker;snail)
koreanNeighborsCat
marriedDucks
northernCardinals
pidgeon(interesting)
Pomegranate(properNoun)
raccoon(important)
Sasuke
sillyGeese
squirrel